/* global sites styles */
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat'; /* Nombre que le das a la fuente */
    src: url('assets/fonts/myfont.ttf') format('ttf'); /* Ruta de la fuente y formato */
  }

body{
    font-family: Montserrat;
    background-color: black;
    color: white;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
footer{
    background-color: black;
    height: 70px;
    width: 1080px;
}
p#valid-css-icon-container {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #990011;
    height: 60px;
}
#menu li {
    margin: auto;
    padding: 0;
}

#menu li a {
    display: block;
    padding: 10px 20px;
    color: white; 
    text-decoration: none; 
    width: 1040px;
    text-align-last: center;
}
#menu li a:hover {
    color: red;
}
#menu-h{/* etiqueta li contenedora del menu hamburguesa */
    height: 60px;
}
.menu-h-image{ /* Imagen menu hamburguesa */
    float: right;
}
.menu-h-image:hover{
    fill: red; /* Color de imagen svg*/
}
.menu-item{
    display: none;
    position: relative;
    background-color: green;
}
.menu-item:hover{
    background-color: gray;   
}
#logo{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
    margin: 0 0 0 20px;
    width: 150px;
    height: 68px;
    float: left;
}
#go-up-button{
    position: fixed;
    bottom: 70px;
    right: 7%;
}
/* global sites styles */

/* section styles */
.bruce-banner{
    width: 1080px;
    height: 530px;
    background-color: #321;
}
.categories,.products,.news {
    padding: 10px;
    background-color: #7ACC00;
}

.category-box ,.product-box, .new-box {
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    border-width: 10px;
    height: 297px;
}
.category-box{
    display: inline-block;
    width: 457px;
    margin: 5px;
}
.product-box, .new-box{
    width: 990px;
    margin: auto auto 30px auto;
}
#sobre-nosotros {
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    background-color: #7ACC00;
    border: 15px solid;
    color: black;
}

#sobre-nosotros h3, #contact-form {
    margin-top: 20px;
}
#promociones{
    background-color: black;
    margin-top: -20px;
    padding-top: 5px;
    color: white;
}
h2{
    margin: 20px auto;
    text-align: center;
}

#contact-form fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#contact-form legend {
    font-weight: bold;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #ababab;
}

.input {
    width: 100%;
    padding: 10px 0px 5px 0px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 3px;
}

#contact-form-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contact-form-button:hover {
    background-color: green;
}
#wireframe-button-container{
    float: left;
    position: relative;
    top: 20px;
}
#wireframe-button-container a {
    height: 18px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px; 
    text-decoration: none;
}

#wireframe-button:hover {
    background-color: red;
    text-decoration: none;
}
/* global sites styles */

/*  element styles  */
.bg-yellow{
    background-color: yellow;
}
.bg-greenyellow{
    background-color: greenyellow;
}
.bg-red{
    background-color: red;
}
/*  element styles  */

/* Slider */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.inner-promo-slider-container{
    height: 300px;
}
/*end slider */

