*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
footer{
    background-color: black;
    height: 70px;
    width: 1080px;
}
p#valid-css-icon-container {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #990011;
}

.menu li {
    margin: auto;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none; 
    width: 1040px;
    text-align-last: center;
}
.menu li a:hover {
    background-color: gray;
    color: red;
}
.bi-list:hover{
    fill: red;
}
.bruce-banner{
    width: 1080px;
    height: 530px;
    background-color: #321;
}
.menu-item{
    display: none;
}

.categories,.products {
    padding: 10px;
    background-color: #7ACC00;
}

.category-box {
    /* PREGUNTAR SI SE PUEDE USAR BOX SIZING!! */ 
    /* ojo que con 3 cuadrados por ancho, queda fachero*/
    /*box-sizing: border-box;*/ 

    /*box-sizing: content-box;*/ /*default*/
    display: inline-block;
    width: 458px;
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    border-width: 10px;
    height: 297px;
    margin: 5px;
}

.product-box {
    width: 990px;
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    border-width: 10px;
    height: 297px;
    margin: auto auto 30px auto;
}
