@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('ttf'); 
}
/* global sites styles */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat';
    background-color: black;
    color: white;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
footer{
    height: 70px;
    width: 1080px;
}

h2{
    text-align: center;
}
p#valid-css-icon-container {
    float: right;
    position: relative;
    top: 15px;
    right: 20px;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
}
#menu li {
    margin: auto;
    padding: 0;
}

#menu li a {
    display: block;
    padding: 10px 20px;
    color: white; 
    text-decoration: none; 
    width: 1040px;
    text-align-last: center;
}
#menu li a:hover {
    color: #7d0000;
    font-weight: bold;
    font-size: large;
    /*transition: color 0.3s;*/ /* queda facherísimo con transición */
}
.menu-item{
    display: none;
    position: relative;
    background-color: #7d0000;
    color: black;
    border-bottom: 1px solid white;
}
.menu-item:hover{
    background-color: #7ACC00;   
}

#menu-h{/* etiqueta li contenedora del menu hamburguesa */
    height: 60px;
}
.menu-h-image{ /* Imagen menu hamburguesa */
    float: right;
}
.menu-h-image:hover{
    fill: black; /* Color de imagen svg*/
}
#logo{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
    margin: 0 0 0 20px;
    width: 150px;
    height: 68px;
    float: left;
}
#go-up-button{
    position: fixed;
    bottom: 70px;
    right: 7%;
    display: none;
}
svg.bi.bi-arrow-up-circle-fill {
    fill: aliceblue;
}
/* global sites styles */

.box-container{
    padding: 10px;
    margin: 0 auto;
}
.category-box-container{
    display: inline-block;
    background-color: black;
    margin: 0 10px;
    height: 340px;
}

.category-box ,.product-box, .new-box {
    background-color: gray;
    padding: 20px;
    height: 297px;
}
.category-box, .product-box{
    display: inline-block;
}
.category-box{
    width: 280px;
    height: 300px;
    text-decoration: none;
    color: white;
}
.category-box:hover, .category-box-clicked{
    opacity: 0.1;
}
.product-box{
    width: 457px;
    margin: 5px;
}
.news-box {
    width: 745px;
    margin: auto auto 30px auto;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 30px;
}
.news-paragraph-container p{
    color: black;
    font-size: 14px;
    margin: 5px 0;
}
.news-heading h3{
    color: black;
}


.news-heading p {
    font-size: 12px;
    color: black;
    margin: 5px 0;  
}

#sobre-nosotros {
    padding: 5px 25px 15px 25px;
}

#sobre-nosotros h3 {
    margin-top: 20px;
}

#contact-form fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#contact-form legend {
    font-weight: bold;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #ababab;
}

.input {
    width: 100%;
    padding: 10px 0px 5px 0px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 3px;
}

#contact-form-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contact-form-button:hover {
    background-color: green;
}
.footer-button-container{
    float: left;
    position: relative;
    top: 20px;
}
.footer-button-container a {
    height: 18px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px; 
    text-decoration: none;
}

.footer-button-container a:hover {
    color: #7ACC00;
    font-weight: bold;
    text-decoration: none;
}
#map-container{
    margin: 15px auto;  
}
#contact-address a {
    text-decoration: none;
    color: black;
}
#contacto {
    width: 1080px;
}
#inicio {
    margin-top: 60px;
}
.title{
    height: 30px;
    padding: 20px;
}
#whatsapp-button{
    float: right;
    position: relative;
    left: 52px;
    bottom: 49px;
}
.background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.category-text-container{
    text-align: center;
    position: relative;
    bottom: 180px;
}
#nav-menu-sticky{
    position: fixed;
    z-index: 1000;
    margin-top: -60px;
}
.inner-promo-slider-container h3 {
    position: relative;
    top: 72px;
    color: black;
    font-size: xxx-large;
    text-align: center;
}
.inner-promo-slider-container p {
    position: relative;
    top: 115px;
    color: black;
    font-size: x-large;
    text-align: center;
}

/* background images */
#salty{
    background-image: url(img/hamburger.jpg);
    background-size: cover;
}
#sweet{
    background-image: url(img/cake.jpg);
    background-size: cover;
}

#drink{
    background-image: url(img/orange-juice.jpg);
    background-size: cover;
}

#veggie-burger{
    background-image: url(img/veggie-burger.jpg);
    background-size: cover;
}
#veggie-fries{
    background-image: url(img/papas-con.chedar.jpg);
    background-size: cover;
}
#oreo-cake{
    background-image: url(img/oreo-cake.jpg);
    background-size: cover;
}
#choco-veggie{
    background-image: url(img/choco-veggie-cake.jpg);
    background-size: cover;
}
#butterbeer{
    background-image: url(img/butterbeer.jpg);
    background-size: cover;
}
#juice{
    background-image: url(img/orange-juice-2.jpg);
    background-size: cover;
}
/* background images */

/*  element styles  */
.border-radius-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.border-radius-bottom{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.border-top-red{
    border-top: 20px solid #a60000;
}
.border-bottom-red{
    border-bottom: 20px solid #a60000;
}
.border-bottom-orange{
    border-bottom: 20px solid #fe5000;
}
.border-bottom-lemon{
    border-bottom: 20px solid #7ACC00;
}
.bg-yellow{
    background-color: #f9fe00;
}
.bg-red{
    background-color: #a60000;
}
.bg-green{
    background-color: #0f6e00;
}
.bg-orange{
    background-color: #fe5000;
}
.bg-lemon{
    background-color: #7ACC00;
}
.bg-rebeccapurple{
    background-color: rebeccapurple;
}

.text-decoration-none{
    text-decoration: none;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mt-150{
    margin-top: 150px;
}
.text-black{
    color: black;
}
.text-white{
    color: white;
}
.d-none{
    display: none;
}
.border-top-white-1{
    border-top: 1px solid white;
}
.text-center{
    text-align: center;
}
.font-weight-600{
    font-weight: 600;
}

/*  element styles  */

/* 
SLIDER 
copiado de w3school
https://www.w3schools.com/howto/howto_js_slideshow.asp
*/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1080px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.inner-promo-slider-container{
    height: 300px;
}
/*END SLIDER */

/* 
HERO IMAGE 
copiado de w3schools
https://www.w3schools.com/howto/howto_css_hero_image.asp
*/
#bruce-banner {
    width: 1080px;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hamburger.jpg);
  }
  
  #bruce-banner div {
    text-align: center;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

