*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat'; /* Nombre que le das a la fuente */
    src: url('assets/fonts/myfont.ttf') format('ttf'); /* Ruta de la fuente y formato */
  }
  
body{
    font-family: Montserrat;
    background-color: aliceblue;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
footer{
    background-color: black;
    height: 70px;
    width: 1080px;
}
p#valid-css-icon-container {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #990011;
    height: 60px;
}
#menu li {
    margin: auto;
    padding: 0;
}

#menu li a {
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none; 
    width: 1040px;
    text-align-last: center;
}
#menu li a:hover {
    color: red;
}
#menu-h{/* etiqueta li contenedora del menu hamburguesa */
    height: 60px;
}
.menu-h-image{ /* Imagen menu hamburguesa */
    float: right;
}
.menu-h-image:hover{
    fill: red; /* Color de imagen svg*/
}
.menu-item{
    display: none;
    position: relative;
    background-color: green;
}
.menu-item:hover{
    background-color: gray;   
}
#logo{
    background-image: url(global-img/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
    margin: 0 0 0 20px;
    width: 150px;
    height: 68px;
    float: left;
}
#go-up-button{
    position: fixed;
    bottom: 70px;
    right: 7%;
}


/*
HOME
 */
.bruce-banner{
    width: 1080px;
    height: 530px;
    background-color: #321;
}
.categories,.products {
    padding: 10px;
    background-color: #7ACC00;
}

.category-box ,.product-box {
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    border-width: 10px;
    height: 297px;
}
.category-box{
    display: inline-block;
    width: 457px;
    margin: 5px;
}
.product-box{
    width: 990px;
    margin: auto auto 30px auto;
}
/*
FIN HOME
 */