*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
footer{
    background-color: black;
    height: 70px;
    width: 1080px;
}
p#valid-css-icon-container {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #990011;
    height: 60px;
}
.menu li {
    margin: auto;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none; 
    width: 1040px;
    text-align-last: center;
}
.menu li a:hover {
    color: red;
}
#menu-h{/* etiqueta li contenedora del menu hamburguesa */
    height: 60px;
}
.menu-h-image{ /* Imagen menu hamburguesa */
    float: right;
}
.menu-h-image:hover{
    fill: red; /* Color de imagen svg*/
}
.menu-item{
    display: none;
    position: relative;
    background-color: green;
}
.menu-item:hover{
    background-color: gray;   
}
#logo{
    background-image: url(global-img/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
    margin: 0 0 0 20px;
    width: 150px;
    height: 68px;
    float: left;
}

