/* global sites styles */
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat'; /* Nombre que le das a la fuente */
    src: url('assets/fonts/myfont.ttf') format('ttf'); /* Ruta de la fuente y formato */
  }

body{
    font-family: Montserrat;
    background-color: black;
    color: white;
}
#container{
    width: 1080px;
    margin: 0 auto;
}
footer{
    background-color: #990011;
    height: 70px;
    width: 1080px;
    border-top: 10px solid #990011;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2{
    text-align: center;
}
p#valid-css-icon-container {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
}
#menu li {
    margin: auto;
    padding: 0;
}

#menu li a {
    display: block;
    padding: 10px 20px;
    color: white; 
    text-decoration: none; 
    width: 1040px;
    text-align-last: center;
}
#menu li a:hover {
    color: red;
}
#menu-h{/* etiqueta li contenedora del menu hamburguesa */
    height: 60px;
}
.menu-h-image{ /* Imagen menu hamburguesa */
    float: right;
}
.menu-h-image:hover{
    fill: red; /* Color de imagen svg*/
}
.menu-item{
    display: none;
    position: relative;
    background-color: green;
}
.menu-item:hover{
    background-color: gray;   
}
#logo{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    font-size: 0;
    margin: 0 0 0 20px;
    width: 150px;
    height: 68px;
    float: left;
}
#go-up-button{
    position: fixed;
    bottom: 70px;
    right: 7%;
}
/* global sites styles */

/* section styles */
/* #bruce-banner{
    width: 1080px;
    height: 530px;
    background-color: #321;
} */
.box-container{
    padding: 10px;
    background-color: #7ACC00;
}

.category-box ,.product-box, .new-box {
    background-color: gray;
    border: 2px solid black;
    padding: 20px;
    border-width: 10px;
    height: 297px;
}
.category-box, .product-box{
    display: inline-block;
    margin: 5px;
}
.category-box{
    width: 280px;
}
.product-box{
    width: 457px;
}
.new-box{
    width: 990px;
    margin: auto auto 30px auto;
}
#sobre-nosotros {
    padding: 5px 25px 15px 25px;
    background-color: #7ACC00;
    color: black;
    border-radius: 20px;
}

#sobre-nosotros h3 {
    margin-top: 20px;
}

#contact-form fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#contact-form legend {
    font-weight: bold;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #ababab;
}

.input {
    width: 100%;
    padding: 10px 0px 5px 0px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 3px;
}

#contact-form-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#contact-form-button:hover {
    background-color: green;
}
#wireframe-button-container{
    float: left;
    position: relative;
    top: 20px;
}
#wireframe-button-container a {
    height: 18px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 20px; 
    text-decoration: none;
}

#wireframe-button:hover {
    background-color: red;
    text-decoration: none;
}
#map-container{
    margin: 15px auto;  
}
#contact-address a {
    text-decoration: none;
    color: black;
}
#contacto {
    width: 1080px;
}
#inicio {
    border-bottom: 20px solid #7acc00;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 60px;
}
.title{
    height: 30px;
    padding: 20px;
}
#whatsapp-button{
    float: right;
    position: relative;
    left: 52px;
    bottom: 49px;
}
.background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#salty{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hamburger.jpg);
}
#sweet{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/cake.jpg);
}
#drink{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/orange-juice.jpg);
}
.category-text-container{
    text-align: center;
    top: 45%;
    position: relative;
}
#nav-menu-sticky{
    position: fixed;
    z-index: 1000;
    margin-top: -60px;
}

/* global sites styles */

/*  element styles  */
.bg-yellow{
    background-color: yellow;
}
.bg-greenyellow{
    background-color: greenyellow;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: #a60000;
}
.bg-rebeccapurple{
    background-color: rebeccapurple;
}
.bg-orange{
    background-color: #fe5000;
}
.text-decoration-none{
    text-decoration: none;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.text-black{
    color: black;
}
.text-white{
    color: white;
}
/*  element styles  */

/* 
SLIDER 
copiado de w3school
https://www.w3schools.com/howto/howto_js_slideshow.asp
*/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1080px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.inner-promo-slider-container{
    height: 300px;
}
/*END SLIDER */

/* 
HERO IMAGE 
copiado de w3schools
https://www.w3schools.com/howto/howto_css_hero_image.asp
*/
#bruce-banner {
    width: 1080px;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hamburger.jpg);
  }
  
  #bruce-banner div {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

